body {
  background-color: #2b2b2b;
  font-size: 30px
}


canvas {
  border:5px solid #000000;
}
button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 70vw;
  margin-top: 10px;
  padding-left: 25vw;
  background-color: orange;
}
